### Importing Required Libraries

In [139]:
from bs4 import BeautifulSoup
import re
import requests #In this case it is not neccessary but when go through websites it required to request the content from websites..
import pandas as pd

### Reading the file using File Handling

In [320]:
with open(r"C:\Users\aresa\OneDrive\Desktop\sample.log",'r') as file:
    file = file.read()
    print(file)

192.168.1.1 - - [03/Dec/2024:10:12:34 +0000] "GET /home HTTP/1.1" 200 512
203.0.113.5 - - [03/Dec/2024:10:12:35 +0000] "POST /login HTTP/1.1" 401 128 "Invalid credentials"
10.0.0.2 - - [03/Dec/2024:10:12:36 +0000] "GET /about HTTP/1.1" 200 256
192.168.1.1 - - [03/Dec/2024:10:12:37 +0000] "GET /contact HTTP/1.1" 200 312
198.51.100.23 - - [03/Dec/2024:10:12:38 +0000] "POST /register HTTP/1.1" 200 128
203.0.113.5 - - [03/Dec/2024:10:12:39 +0000] "POST /login HTTP/1.1" 401 128 "Invalid credentials"
192.168.1.100 - - [03/Dec/2024:10:12:40 +0000] "POST /login HTTP/1.1" 401 128 "Invalid credentials"
10.0.0.2 - - [03/Dec/2024:10:12:41 +0000] "GET /dashboard HTTP/1.1" 200 1024
198.51.100.23 - - [03/Dec/2024:10:12:42 +0000] "GET /about HTTP/1.1" 200 256
192.168.1.1 - - [03/Dec/2024:10:12:43 +0000] "GET /dashboard HTTP/1.1" 200 1024
203.0.113.5 - - [03/Dec/2024:10:12:44 +0000] "POST /login HTTP/1.1" 401 128 "Invalid credentials"
203.0.113.5 - - [03/Dec/2024:10:12:45 +0000] "POST /login HTTP/1.1" 401 128 "Invalid credentials"
192.168.1.100 - - [03/Dec/2024:10:12:46 +0000] "POST /login HTTP/1.1" 401 128 "Invalid credentials"
10.0.0.2 - - [03/Dec/2024:10:12:47 +0000] "GET /profile HTTP/1.1" 200 768
192.168.1.1 - - [03/Dec/2024:10:12:48 +0000] "GET /home HTTP/1.1" 200 512
198.51.100.23 - - [03/Dec/2024:10:12:49 +0000] "POST /feedback HTTP/1.1" 200 128
203.0.113.5 - - [03/Dec/2024:10:12:50 +0000] "POST /login HTTP/1.1" 401 128 "Invalid credentials"
192.168.1.1 - - [03/Dec/2024:10:12:51 +0000] "GET /home HTTP/1.1" 200 512
198.51.100.23 - - [03/Dec/2024:10:12:52 +0000] "GET /about HTTP/1.1" 200 256
203.0.113.5 - - [03/Dec/2024:10:12:53 +0000] "POST /login HTTP/1.1" 401 128 "Invalid credentials"
192.168.1.100 - - [03/Dec/2024:10:12:54 +0000] "POST /login HTTP/1.1" 401 128 "Invalid credentials"
10.0.0.2 - - [03/Dec/2024:10:12:55 +0000] "GET /contact HTTP/1.1" 200 512
198.51.100.23 - - [03/Dec/2024:10:12:56 +0000] "GET /home HTTP/1.1" 200 512
192.168.1.100 - - [03/Dec/2024:10:12:57 +0000] "POST /login HTTP/1.1" 401 128 "Invalid credentials"
203.0.113.5 - - [03/Dec/2024:10:12:58 +0000] "POST /login HTTP/1.1" 401 128 "Invalid credentials"
10.0.0.2 - - [03/Dec/2024:10:12:59 +0000] "GET /dashboard HTTP/1.1" 200 1024
192.168.1.1 - - [03/Dec/2024:10:13:00 +0000] "GET /about HTTP/1.1" 200 256
198.51.100.23 - - [03/Dec/2024:10:13:01 +0000] "POST /register HTTP/1.1" 200 128
203.0.113.5 - - [03/Dec/2024:10:13:02 +0000] "POST /login HTTP/1.1" 401 128 "Invalid credentials"
192.168.1.100 - - [03/Dec/2024:10:13:03 +0000] "POST /login HTTP/1.1" 401 128 "Invalid credentials"
10.0.0.2 - - [03/Dec/2024:10:13:04 +0000] "GET /profile HTTP/1.1" 200 768
198.51.100.23 - - [03/Dec/2024:10:13:05 +0000] "GET /about HTTP/1.1" 200 256
192.168.1.1 - - [03/Dec/2024:10:13:06 +0000] "GET /home HTTP/1.1" 200 512
198.51.100.23 - - [03/Dec/2024:10:13:07 +0000] "POST /feedback HTTP/1.1" 200 128

### Using Regex Pattern To Find the IP Address

In [321]:
ip = r'\b(?:\d{1,3}\.){3}\d{1,3}\b' # ?:-for non-capturing group, meaning it groups the pattern \d{1,3}\. 3 groups
ip_address = re.findall(ip, file)
print(len(ip_address))

34

In [322]:
ip_addresses = []
for i in ip_address:
    ip_addresses.append(i)
print(ip_addresses)

['192.168.1.1', '203.0.113.5', '10.0.0.2', '192.168.1.1', '198.51.100.23', '203.0.113.5', '192.168.1.100', '10.0.0.2', '198.51.100.23', '192.168.1.1', '203.0.113.5', '203.0.113.5', '192.168.1.100', '10.0.0.2', '192.168.1.1', '198.51.100.23', '203.0.113.5', '192.168.1.1', '198.51.100.23', '203.0.113.5', '192.168.1.100', '10.0.0.2', '198.51.100.23', '192.168.1.100', '203.0.113.5', '10.0.0.2', '192.168.1.1', '198.51.100.23', '203.0.113.5', '192.168.1.100', '10.0.0.2', '198.51.100.23', '192.168.1.1', '198.51.100.23']

In [323]:
len(ip_addresses)

34

### Using Regex Pattern To Find the EndPoint

In [324]:
point = r'[GET,POST]\s(\/\S+)' 

'''it extracts which starts with the get or post and with spaces and /slashes using 
 \S+ particularly used for matching the slashes special characters instead w+ it will match only characters,numbers,_ etc
so here \S+ is more precise the results'''

end_point = re.findall(point,file)
print(end_point)

['/home', '/login', '/about', '/contact', '/register', '/login', '/login', '/dashboard', '/about', '/dashboard', '/login', '/login', '/login', '/profile', '/home', '/feedback', '/login', '/home', '/about', '/login', '/login', '/contact', '/home', '/login', '/login', '/dashboard', '/about', '/register', '/login', '/login', '/profile', '/about', '/home', '/feedback']

In [325]:
len(end_point)

34

### Using Regex Pattern To Find the RESPONSES

In [326]:
responce = r'\s(\d+)\s' #\s for the spaces and d+ for digits 
responces = re.findall(responce,file)
print(responces)

['200', '401', '200', '200', '200', '401', '401', '200', '200', '200', '401', '401', '401', '200', '200', '200', '401', '200', '200', '401', '401', '200', '200', '401', '401', '200', '200', '200', '401', '401', '200', '200', '200', '200']

In [327]:
len(responces)

34

In [328]:
df_columns = {'IP_Address':ip_addresses,
             'end_point':end_point,
             'responces':responces}

In [329]:
df = pd.DataFrame(df_columns)

In [330]:
df.to_csv(r"C:\Users\aresa\log_analysis_results.csv",index = False)

In [331]:
df= pd.read_csv(r"C:\Users\aresa\log_analysis_results.csv")

In [332]:
df.head()

      IP_Address  end_point  responces
0    192.168.1.1      /home        200
1    203.0.113.5     /login        401
2       10.0.0.2     /about        200
3    192.168.1.1   /contact        200
4  198.51.100.23  /register        200

In [333]:
df.info() # it gives about the dataframe and memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   IP_Address  34 non-null     object
 1   end_point   34 non-null     object
 2   responces   34 non-null     int64
dtypes: int64(1), object(2)
memory usage: 948.0+ bytes

In [334]:
df.describe() # it is used for statistical ouput applied for only numerical features

        responces
count   34.000000
mean   276.852941
std     99.147314
min    200.000000
25%    200.000000
50%    200.000000
75%    401.000000
max    401.000000

## Requirements

### 1.Count Requests per IP Address:

In [342]:
requests_per_ip = df.groupby('IP_Address')['responces'].count().sort_values(ascending = False).reset_index()
requests_per_ip.columns = ['IP_Address','Request Count']

In [343]:
print(requests_per_ip.to_string(index=False))

   IP_Address  Request Count
198.51.100.23              8
  203.0.113.5              8
  192.168.1.1              7
     10.0.0.2              6
192.168.1.100              5

### 2.Identify the Most Frequently Accessed Endpoint:

In [337]:
new_df = df.groupby('end_point').count().sort_values(by = 'responces',ascending = False).reset_index().head(1)
most_frequent_endpoint = new_df.loc[0, 'end_point']
access_count = new_df.loc[0,'responces']
print(f"Most Frequently Accessed Endpoint:\n{most_frequent_endpoint} (Accessed {access_count} times)")

Most Frequently Accessed Endpoint:
/login (Accessed 13 times)

In [349]:
most_accessed_endpoint = df.groupby('end_point')['responces'].count().sort_values(ascending=False).reset_index().head(1)
most_accessed_endpoint.columns = ['Endpoint', 'Access Count']
print(most_accessed_endpoint.to_string(index = False))

Endpoint  Access Count
  /login            13

### 3.Detect Suspicious Activity:

In [344]:
df['suspicious'] = df['responces'].apply(lambda x:'Invalid credentials' if x == 401 else x)

In [345]:
df_filtered = df[df['suspicious'] == 'Invalid credentials'].reset_index()

In [346]:
suspicious_activity= df_filtered.groupby('IP_Address')['suspicious'].count().sort_values(ascending = False).reset_index()

In [353]:
suspicious_activity.columns = ['IP_Address','Failed Login Attempts']
print(suspicious_df.to_string(index = False))

   IP_Address  Failed Login Attempts
  203.0.113.5                      8
192.168.1.100                      5

### Saving the results to a CSV file named log_analysis_results.csv

In [355]:
with open(r"C:\Users\aresa\log_analysis_results.csv", 'w') as f:
    requests_per_ip.to_csv(f, index=False)
    most_accessed_endpoint.to_csv(f, index=False, mode='a')
    suspicious_activity.to_csv(f, index=False, mode='a')